{
	# General options
	http_port 80
	https_port 443

	# logging
	log {
		output file /var/log/caddy/reverse_proxy.log
		format json
	}

	# prometheus integration
	admin :2019
	metrics {
		per_host
	}
}

# stolen from reddit
(logging) {
	log {
		output file /var/log/caddy/{args[0]}.log
		format json
		level INFO
	}
}

adguard.home {
	tls internal
	import logging adguard
	reverse_proxy adguard:3000
}

vault.home {
	tls internal
	import logging vault
	reverse_proxy vaultwarden:80
}

dash.home {
	tls internal
	import logging homepage
	reverse_proxy homepage:3000
}

prometheus.home {
	tls internal
	import logging prometheus
	reverse_proxy prometheus:9090
}

grafana.home {
	tls internal
	import logging grafana
	reverse_proxy grafana:3000
}

cadvisor.home {
	tls internal
	import logging cadvisor
	reverse_proxy cadvisor:8080
}

alertmanager.home {
	tls internal
	import logging alertmanager
	reverse_proxy alertmanager:9093
}
